# OS 관련 파일
.DS_Store
Thumbs.db

# 환경 설정 파일
.env
*.env.*
!.env.example

# 로그 파일
*.log

# Node.js 관련
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python 관련
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
*.egg-info/

# Flutter 관련
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE 관련
.idea/
.vscode/
*.swp
*.swo

# 빌드 결과물
dist/
build/
out/

# Xcode 관련
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/


# act 로컬 설정 파일
.actrc
.secrets